# For Loops

Example of a for loop

In [7]:
# Print the odds and evens using for loop

nums = [1,2,4,6,8,0,2,1,3,6,3,1]

for item in nums:
    if item % 2 == 0:
        print(f"{item} is even")
    else:
        print(f"{item} is odd")
print("Iteration of loop is over!")

1 is odd
2 is even
4 is even
6 is even
8 is even
0 is even
2 is even
1 is odd
3 is odd
6 is even
3 is odd
1 is odd
Iteration of loop is over!

# Tuple Unpacking using For loop

So in tuples we have values like (1,2,3). Suppose we have a list of tuples [(1,2,3),(4,5,6),(7,8,9)]
We can seperate the tuple values using loop.

In [2]:
tup_list = [(1,2,3),(4,5,6),(7,8,9)]

In [4]:
for item in tup_list:
    print(item) # this will print the list of tuples

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

If we want to unpack the tuple. We have to do this:

In [9]:
for a,b,c in tup_list:
    print(a)
    print(b)
    print(c)

1
2
3
4
5
6
7
8
9

# Unpacking Dictionaries Using For Loop

In [10]:
Rank_Sups = {'Ironman':1,'Black Adam':4,'Superman':2,'Batman':3}

In [11]:
for sup in Rank_Sups:
    print(sup) # This will only print the keys

Ironman
Black Adam
Superman
Batman

In [12]:
for sup in Rank_Sups.items():
    print(sup) # This will print the whole key value pair

('Ironman', 1)
('Black Adam', 4)
('Superman', 2)
('Batman', 3)

Now if we want to unpack the keys and values from the dictionary we have to do this

In [14]:
for key,value in Rank_Sups.items():
    print(key)
    print(value)

Ironman
1
Black Adam
4
Superman
2
Batman
3

Now If we want to print only the values not the keys, then we have to do this

In [15]:
for value in Rank_Sups.values():
    print(value)

1
4
2
3

# Continue vs Pass

continue forces the loop to start at the next iteration whereas pass means 
"there is no code to execute here" 
and will continue through the remainder of the loop body.