# Range Function

Here are some examples of Range function

In [2]:
for item in range(1,11):
    print(item)

1
2
3
4
5
6
7
8
9
10

In [3]:
for item in range(1,11,2):
    print(item)

1
3
5
7
9

In [8]:
for item in range(2,11,2):
    print(item)

2
4
6
8
10

In [7]:
for item in range(5,51,5):
    print(item)

5
10
15
20
25
30
35
40
45
50

We can also convert a range into a list

In [11]:
Multi_6 = list(range(6,61,6))
print(Multi_6)

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]

# Enumerate

What it does is - Suppose when we need the indexes of some value under a for loop rather than creating it manually
we can use this enumerate function to create indexes for us

In [12]:
sups = ['Ironman','Batman','Spiderman','Aquaman','Flash']

In [13]:
for items in enumerate(sups):
    print(items) # it will print as tuples because the enumarate functions convert every values into tuples

(0, 'Ironman')
(1, 'Batman')
(2, 'Spiderman')
(3, 'Aquaman')
(4, 'Flash')

By doing this we can get our indexes and values seperately

In [15]:
for index,item in enumerate(sups):
    print(index,' : ',item)

0  :  Ironman
1  :  Batman
2  :  Spiderman
3  :  Aquaman
4  :  Flash

# Zip Function

What this function does is it different lists values into one tuples using their indexes. Suppose we have a name list, an
age list and a city list. Now if we put the lists into zip function. The zip function will create tuples using all the
values of index 0, all the values of index 1 ... like this

In [16]:
name = ['Faisal','Zahid','Rounok','Rabbi']
age = [24,36,41,32]
city = ['Narayanganj','Mohakhali','Gulshan','Rayer Bag']

In [17]:
zipped_item = zip(name,age,city)
print(zipped_item) # this will only provide the address

<zip object at 0x0000019E306DF440>

In [24]:
for tup in zip(name,age,city):
    print(tup)

('Faisal', 24, 'Narayanganj')
('Zahid', 36, 'Mohakhali')
('Rounok', 41, 'Gulshan')
('Rabbi', 32, 'Rayer Bag')

In [25]:
# Also we can convert that zip function values into lists
new_list = list(zip(name,age,city))

In [26]:
print(new_list)

[('Faisal', 24, 'Narayanganj'), ('Zahid', 36, 'Mohakhali'), ('Rounok', 41, 'Gulshan'), ('Rabbi', 32, 'Rayer Bag')]

# In Operator

It is used for checking some values are there or not in lists,dictionaries etc. It returns boolean

In [28]:
# Suppose we want to check 'Iron man' is in the list of sups or not
sups = ['Ironman','Batman','Spiderman','Aquaman','Flash']
'Ironman' in sups

True

Similarly we can check for keys in dictionaries using the in operator

In [29]:
Dict = {'Ironman':1,'Batman': 2}

In [31]:
# to find the keys
'Ironman' in Dict

True

In [32]:
'Aquaman' in Dict

False

In [33]:
# To find the values

In [34]:
1 in Dict.values()

True

In [35]:
3 in Dict.values()

False

# Min/Max Functions

In [1]:
numList = [3,3,12,64,2,1,74,2]

In [2]:
min(numList)

1

In [3]:
max(numList)

74

# Shuffle/Scrambled Function

In [4]:
from random import shuffle

In [5]:
sortedList = [1,2,3,4,5,6,7,8,9]

In [6]:
shuffle(sortedList)  # It doesn't return anything so can't store that into another variable

In [8]:
sortedList

[5, 9, 4, 6, 7, 2, 1, 8, 3]

# Randome Integer Generation Function

In [11]:
from random import randint

In [12]:
# randint(lower range, upper range)
randint(1,9)

7

In [13]:
randomNumber = randint(100,2000)

In [14]:
randomNumber

538

# User Input

In [26]:
result = input('Please enter a number here ')

Please enter a number here 102

In [27]:
result

'102'

In [28]:
type(result)

str

Input always takes value as strings. We can recast it our own way later

In [29]:
result =int(result)

In [30]:
type(result)

int

In [31]:
result

102